@using POS_SuperStore.Data
@layout LoginLayout
@page "/"
@inject HttpClient http;
@inject NavigationManager NavigationManager
 

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-15 col-md-12 col-lg-8 col-xl-9">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
 


                            <p>@message</p>
                            <h5>Email</h5>
                            <input type="Text" @bind="loginUser.Email" placeholder="Email..." />
                            <br />

                            <h5>Password</h5>
                            <input type="password" style="margin-bottom:10px" @bind="loginUser.password" placeholder="Password..." />
                            <br />
                            <button class="btn btn alert-primary" @onclick="Validateuser">Login</button>
                             
                                                        

                        </div>

                        <div>
                            <p class="mb-0">
                                Don't have an account? <a href="Register" class="text-white-50 fw-bold">Register</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 
 


@code {
    LoginModel  loginUser  = new();
    public bool IsEdit = false;
    public string message;


    public async Task Validateuser()
    {
        loginUser.Email = "ihsaan@gmail.com";
        loginUser.password = "12345";
        var response = await http.PostJsonAsync<bool>("https://localhost:44381/api/Login/Login", loginUser);

        if (response)
        {
            NavigationManager.NavigateTo("/index");
        }
        else
        {
            message = "email or password does not exist";  
        }
    }
   /* private async Task Register()
    {
        Register = await http.PostJsonAsync<List<LoginModel>>("https://localhost:44381/api/Login/Register", student);
        login = new Login();
    }
  */
    
}
