
@layout LoginLayout
@page "/Register"
@using POS_SuperStore.Data;
@inject HttpClient http;
@inject NavigationManager NavigationManager


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-15 col-md-12 col-lg-8 col-xl-9">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                            <p class="text-white-50 mb-5">Please enter below detail and register</p>



                            <p>@message</p>
                            <h5>Email</h5>
                            <input type="email" @bind="Registeruser.Email" placeholder="Email..." />
                            <br />

                            <h5>Password</h5>
                            <input type="password" style="margin-bottom:10px" @bind="Registeruser.password" placeholder="Password..." />
                            <br />
                            <button class="btn btn alert-primary" @onclick="Validateuser">Register</button>

                            

                        </div>
                         
                        
                       
                        }

                        <div>
                            <p class="mb-0">
                                Already have account? <a href="" class="text-white-50 fw-bold">Login</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 


@code {
    LoginModel Registeruser = new();

    public string message;
    public string alert;


    public async Task Validateuser()
    {
        await http.PostJsonAsync("https://localhost:44381/api/Login/Register", Registeruser);

       // alert = "successfully Register";
        NavigationManager.NavigateTo("");

         
       
           
        
        
    }
    /* private async Task Register()
         {
         Register = await http.PostJsonAsync<List<LoginModel>>("https://localhost:44381/api/Login/Register", student);
         login = new Login();
    }
    */

}
